@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 600;
  font-display: swap;
  src: url("https://rsms.me/inter/font-files/Inter-SemiBold.woff2?3.13") format("woff2"),
       url("https://rsms.me/inter/font-files/Inter-SemiBold.woff?3.13") format("woff");
};

html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

main {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

main > header {
  /* width: calc(305px / 5); */
  flex: 0 0 200px;
  height: 200px;
  position: relative;
}

main > div {
  position: relative;
  min-height: 400px;
  flex: 1;
}

.Logo {
  position: absolute;
  bottom: 100%;
  height: var(--logo-height);
  z-index: 10;
  width: inherit;
  fill: lightgray !important;
}

main > footer {

}

.Wall {
  position: relative;
  display: flex;
  align-items: center;
  margin: var(--header-footer) 0;
}

.App {
  justify-content: center;
  position: absolute;
  left: 40px;
  right: 40px;
}

footer {
  position: relative;
  height: var(--button-height);
}

footer > button {
  position: absolute;
  height: 50%;
  bottom: 0;
  width: 50%;
  background: transparent;
  border: 0;
}

footer > button:nth-child(1) {
  left: 0;
}

footer > button:nth-child(2) {
  right: 0;
}

.formWrapper {
  margin: var(--gutter) -20px;
}

form {
  display: flex;
  width: 133.33%;
  position: relative;
  transition: transform ease-out 250ms;
}

form > * {
  flex: 1;
  margin: 0 10px;
}

button {
	border: 10px solid lightgray;
	border-radius: 20px;
	min-height: var(--button-height);
	display: block;
	/* width: 100%; */
	color: lightgray;
	background: black;
	padding: 0 30px;
  margin-left: auto;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  cursor: pointer;
}

button[disabled] {
  cursor: initial;
}

form.encode {
  /* margin-left: 0%; */
  transform: translate(0%, 0);
}

form.decode {
  /* margin-left: -33.33%; */
  transform: translate(-25%, 0);
}


textarea + footer {
	display: flex;
	justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

form .encode,
form .decode {
  transition: opacity ease-out 250ms;
}

form.decode .encode {
  opacity: 0;
}

form.encode .decode {
  opacity: 0;
}

form .copy textarea {
  background-color: black;
}

textarea {
  opacity: 1;
  border-radius: 20px;
  border: 10px solid lightgray;
  outline: 0;
  min-height: 300px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  margin-bottom: 20px;
}

@keyframes blink {
  from { border-color: lightgray; }
  50% { border-color: black; }
  to   { border-color: lightgray; }
}

textarea.copied {
  animation-name: blink;
}