.Wall {
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
}

.App {
  display: flex;
  flex: 1;
  min-height: 300px;
  position: relative;
}

.App footer {
  position: absolute;
  bottom: -100%;
  height: 40px;
}

.App textarea {
  padding: 10px;
  flex: 1;
  margin: 0 10px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}