:root {
  --gutter: 20px;
  --border-width: 8px;
  --border-gutter: calc(var(--gutter) + var(--border-width));
  --header-footer: 140px;
  --button-height: 60px;
  --logo-height: calc(var(--header-footer) - var(--gutter) * 2);
}

body {
  margin: 0;
  background: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
